.exec-payment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.exec-payment-button {
  height: 200px;
  width: 240px;
  border: 2px solid #e60b74;
  border-radius: 30px;
  color: #333;
  background: none;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 12px -6px #adadad;
}

.exec-payment-form-section {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  width: 240px;
  text-align: center;
}

.form-header {
  text-align: center;
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
}

.exec-payment-form-section input {
  margin: 10px 0;
  border-bottom: 1px solid #bdbdbd !important;
}

.exec-payment-form-section input:focus {
  border-color: #E60B74 !important;
}
