.button {
  background-color: #C71585;
  width: 50%;
  font-size: 20px;
  color: white;
  border: 2px solid #C71585;
  border-radius: 28px;
  padding: 8px 18px;
  transition: .3s border ease;
  margin: 10px auto;
  cursor: pointer;
}
