.billing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  height: 100vh;
  background: linear-gradient(120deg, #470871 10%, #d70380 100%);
}

.notification-form-container {
  background-color: #d2cbd4;
  border: 4px solid #C71585;
  width: 500px;
  margin: 0 auto;
  border-radius: 15px;
  height: 480px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -210px;
}

.notification-btn-container {
  box-shadow: 0px 3px 12px -6px #ADADAD;
  border: 4px solid #C71585;
  width: 500px;
  margin: 0 auto;
  border-radius: 15px;
}

.notification-btn {
  background-color: #C71585;
  width: 210px;
  font-size: 20px;
  color: white;
  border: 2px solid #C71585;
  border-radius: 28px;
  padding: 8px 18px;
  transition: .3s border ease;
  margin: 10px auto;
  cursor: pointer;
  font-size: 14px;
}

.notification-btn-small {
  background-color: #C71585;
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: white;
  border: 2px solid #C71585;
  border-radius: 28px;
  padding: 8px 18px;
  transition: .3s border ease;
  margin: 10px auto;
  cursor: pointer;
  font-size: 14px;
}

.logo {
  width: 110px;
  margin-top: 40px;
  margin-bottom: 10px;
  user-select: none;
}

.logo-text {
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  user-select: none;
}

.billing-form {
  background-color: #320852; /* #341548 */
  position: fixed;
  height: 700px;
  width: 1200px;
  text-align: center;
  color: #ffffff;
  /* background-color: #002868; */
  background-color: #341548;
  border-radius: 8px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); */
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.login-field {
  display: block;
  height: 32px;
  margin: 25px auto;
  width: 240px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  border-radius: 0;
  padding: 0;
}

.login-submit {
  display: block;
  position: relative;
  width: 130px;
  height: 32px;
  margin: 50px auto 10px auto;
  padding: 0;
  font-size: 16px;
  color: #320852;
  font-weight: 800;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.login-link {
  display: block;
  position: relative;
  width: 200px;
  margin: 50px auto 10px auto;
  padding: 8px 0;
  font-size: 16px;
  color: #320852;
  font-weight: 800;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.success-message {
  color: #00ba00;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.password-valid {
  color: #00ba00;
}

.password-invalid {
  color: red;
}

.sign-up-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.sign-up-link-text {
  color: #54aaff;
  cursor: pointer;
}

.forgot-password-link {
  margin: -20px 0 0 60px;
  position: absolute;
  font-size: 12px;
  color: #54aaff;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
html {
  --light-border: 1px solid lightgray;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

nav {
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #000c; */
  background-color: black;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 70px !important;
}

nav > a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  transition: color 100ms linear;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 14px;
}

.logo-image {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
    width: 45px;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
    margin-left: 5px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

.sign-in-button {
  float: right;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid #a215ff;
  border-color: #a215ff;
  border-radius: 28px;
  padding: 8px 18px;
  transition: .3s border ease;
}

.sign-in-button:hover {
  /* border: 2px solid #c56dff; */
  border-color: #c368ff;
  color: #ffffff !important;
}


#main-content {
  margin: 0 20px;
  text-align: center;
}


.plan-column {
  display: inline-block;
  vertical-align: top;
  /* width:33%; */
  margin-top: 50px;
  border-style:hidden;
  margin: 20px;
  box-shadow: 0px 3px 12px -6px #ADADAD;
  width: 300px
}

#monthly {
  float: left;
}
#yearly {
  float: right;
}
