.terms-conditions-container {
  background-color: white;
  border: 4px solid #C71585;
  width: 1000px;
  margin: 0 auto;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -320px;
  padding: 50px;
  text-align: left;
}

.toc-btn {
  margin: 50px auto 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border: 2px solid #C71585;
  border-radius: 15px;
}

.toc-btn:hover {
  background-color: red;
}
