.events-list {
  margin-top: 50px;
  color: white;
  background-color: #2A0B76;
}

.add-new {
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

header {
  background-color: #2A0B76;
}

.head {
  padding: 120px 20px;
  text-align: center;
}

.head h1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.head h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
}

@media (max-width: 830px) {
  .head {
    padding: 80px 15px 60px 15px;
    text-align: center;
  }
}

.pink-dot {
  display: none;
  position: relative;
  background-color: #E60B74;
  width: 35px;
  height: 35px;
  margin-bottom: -35px;
  border-radius: 100%;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}

.line-upcoming {
  position: absolute;
  border-left: 3px dashed #E60B74;
  height: 330px;
  top: 470px;
  left: 50%;
  transform: translate(-50%);
}

.line-past {
  position: absolute;
  border-left: 3px dashed #E60B74;
  height: 640px;
  top: 2060px;
  left: 50%;
  transform: translate(-50%);
}

.line-dot-upper,
.line-dot {
  position: absolute;
  background-color: #E60B74;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  left: 50%;
  transform: translate(-60%);
}

.line-dot-upper:nth-child(2) {
  top: 340px;
}

.line-dot:nth-child(2) {
  top: 320px;
}

.line-dot:nth-child(3) {
  top: 640px;
}

@media (max-width: 1425px) {
  .line-upcoming {
    display: none;
  }
  .line-past {
    display: none;
  }
}

.events-b {
  background-color: #1F0858;
}

.event-head {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.event-head iframe {
  width: 60vw;
  min-width: 600px;
  max-width: 900px;
  max-height: 500px;
  height: 35vw;
  margin-left: 0px;
}

.event-head img {
  width: 50vw;
  height: auto;
  min-width: 600px;
  max-width: 900px;
  max-height: 500px;
  margin-left: 0px;
}

.event-head-text {
  width: 250px;
  padding-top: 15px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.event-head-text h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 15px;
}

.event-head-text h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.event-head-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.event-description {
  white-space: pre-wrap;
}

@media (max-width: 1000px) {
  .event-head {
    flex-wrap: wrap;
  }
  .event-head-text {
    width: auto;
    margin-right: 0;
  }
  .event-head iframe {
    margin-left: 0;
  }
  .event-head img {
    margin-left: 0;
  }
}

@media (max-width: 780px) {
  .event-head iframe {
    min-width: auto;
    width: 80vw;
    height: 70vw;
  }
  .event-head img {
    min-width: auto;
    width: 80vw;
    height: 70vw;
  }
}

.event-ind {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}

.vertical-line-connection {
  width: 2px;
  border-left: 3px dashed  #E60B74;
  align-self: stretch;
  margin-top: 20px;
  margin-bottom: -70px;
  position: relative;
}

.pink-dot-for-line {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E60B74;
  margin-left: -11px;
}

.event-last {
  margin-bottom: 0;
}

.event-ind img {
  width: 418px;
  height: 251px;
  margin-right: 30px;
}

.event-ind iframe {
  width: 418px;
  height: 251px;
  margin-right: 30px;
}

.event-ind-text {
  max-width: 435px;
  margin-left: 30px;
}

@media (max-width: 1425px) {
  .event-ind img {
    margin-right: 40px;
  }
  .event-ind iframe {
    margin-right: 40px;
  }
  .event-ind-text {
    margin-left: 40px;
  }
}

@media (max-width: 1100px) {
  .event-ind img {
    margin-right: 20px;
  }
  .event-id iframe {
    margin-right: 20px;
  }
  .event-ind-text {
    margin-left: 20px;
  }
}

@media (max-width: 930px) {
  .event-ind {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .event-ind img {
    margin: 0 auto;
    text-align: center;
  }
  .event-ind iframe {
    margin: 0 auto;
    text-align: center;
  }
  .event-ind a {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
  }
  .event-ind-text {
    margin: 0 auto 30px auto;
  }
  .event-ind-text h2,
  .event-ind-text h3 {
    text-align: center;
  }
}

@media (max-width: 530px) {
  .event-ind img {
    width: 80vw;
    height: auto;
  }
  .event-ind iframe {
    width: 80vw;
    height: auto;
  }
}

.event-ind-text h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 30px;
  margin-top: 0px;
}

.event-ind-text h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.event-ind-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

footer {
  background-color: #0E0624;
}

.footer {
  text-align: center;
  padding: 60px 20px;
}

.footer h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer h4 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-btn {
  border: 2px solid #E60B74;
  border-radius: 50px;
  width: 160px;
  height: 45px;
  margin: 0 auto 0 auto;
  padding: 0;
}

.footer-btn:hover {
box-shadow: 0 0 15px rgba(145, 92, 182, .4);
/* transition: 0.2s; */
}

.footer-btn p {
 vertical-align: middle;
 line-height: 45px;
 font-weight: 600;
 font-size: 16px;
}
