.home {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  align-items: stretch;
  background-color: #202020;
}

.homeMainContainer {
  flex-grow: 1;
  margin-top: 50px;
  min-height: 100vh;
}

.servicesPanel {
  color: #060606;
  background: linear-gradient(45deg, #2d2d2d, #202020);
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  /* height: calc(100vh - 100px); */
}

.service {
  color: white;
  background-color: #393939;
  max-width: 250px;
  padding: 30px 40px 40px 40px;
  text-align: center;
  border: 0px transparent;
  border-radius: 5px;
  /* box-shadow: 0px 2px 5px #393939; */
  box-shadow: 5px 5px #202020;
  /* height: 250px; */
}

.service h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.service p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.horizontalSeparator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #F1F1F1;
  border-radius: 2px;
}

.qbook-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 0px -5px;
}

.servicesButton {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background-color: #E60B74;
  padding: 8px 25px 10px 25px;
  border-radius: 25px;
}

.welcomeMessage {
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding-left: 30px;
  background-color: #131313;
  border-left: 4px solid #E60B74;
}

.news {
  background-color: #404040;
  padding: 50px;
  color: white;
}

.news h4 {
  font-weight: 600;
  font-size: 14px;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.blogItem {
  border: 0px transparent;
  border-radius: 2px;
  border: 2px solid #F1F1F1;
  box-shadow: 0px 3px 15px -6px #F1F1F1;
  margin: 0 auto 50px auto;
  padding: 30px 0;
  width: 500px;
  text-align: center;
}

.blogItem a {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.blogItem img {
  margin: 20px auto;
  width: 90%;
  max-width: 480px;
}

.blogItem p {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.features-meta-container {

}

.features-title-container {
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 30px;
  background-color: #131313;
  border-left: 4px solid #E60B74;
}

.features-container {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, #2d2d2d, #202020);
}

.feature {
  max-width: 440px;
  color: white;
  background-color: #393939;
  padding: 30px 0;
  border-radius: 5px;
  box-shadow: 5px 5px #202020;
}

.feature-title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.feature-image-container {
  text-align: center;
}

.coming-soon {
  margin: 0 32.5%;
  max-width: 35%;
  text-align: center;
  opacity: 30%;
  margin-top: 100px;
  margin-bottom: -120px;
}

.chem-app-image {
  width: 300px;
  margin: 0 auto;
}

.feature-description {
  margin-top: 30px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
