.research {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #2d2d2d, #202020);
  height: 100vh;
  color: white;
}

.research-container {
  width: 90%;
  max-width: 1140px;
  margin: 110px auto 0px auto;
  display: flex;
  min-height: fit-content;
}

.research-text-container {
  margin-right: 30px;
  background-color: #393939;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px #202020;
  min-height: fit-content;
}

.research h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.research p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.formContainer {
  margin-left: 30px;
  padding: 20px 0;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input,
textarea,
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #3D3D3D;
  opacity: 1 !important;
}

input {
  width: 200px;
  height: 30px;
  border: 2px solid #3D3D3D;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
  padding: 10px;
}

textarea {
  width: 420px;
  height: 150px;
  border: 2px solid #3D3D3D;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
  padding: 10px;
}

.submitButton h1 {
  font-weight: 600;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  background-color: #E60B74;
  padding: 4px 20px 6px 20px;
  border-radius: 25px;
  transition: .25s linear;
}

.errorMessage {
  color: #E60B74;
  text-align: center;
}

.successMessage {
  color: green;
  text-align: center;
}

@media (max-width: 1275px) {
  .container {
    flex-direction: column;
  }
  .research-text-container {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .formContainer {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
