.homeSidebar {
  width: 270px;
  min-width: 270px;
  /* box-shadow: 0px 3px 15px -10px #ADADAD; */
  padding-top: 30px;
  background-color: #202020;
  min-height: 100%;
  margin: 0px;
}

.navTabContainer {
  padding: 25px;
}

.containernotop {
  padding-top: 0;
}

.navTab {
  /* box-shadow: 0px 3px 15px -6px #F1F1F1; */
  display: inline-grid;
  grid-template-columns: 1fr 30fr;
  padding: 5px 0px 5px 0px;
  margin-top: 15px;
  border: 2px solid #F1F1F1;
  border-radius: 2px;
  color: white;
}

.navTab:hover {
  background-color: #0d0d0d20;
  cursor: pointer;
}

.navTab h2 {
  font-weight: 600;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px;
  letter-spacing: 1px;
}

.navTabColor {
  width: 3px;
  height: 10px;
  margin-right: 15px;
  margin-top: calc(50% + 1px);
  border: 0px transparent;
  border-radius: 0px 4px 4px 0px;
}

.myEvents {
  background-image: linear-gradient(60deg, #E60B74, #6D33FF);
  color: white;
  text-align: center;
  padding: 20px
}

.myEvents h1 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.myEventsEvent {
  background-color: #a88ede;
  text-align: left;
  padding: 10px 15px;
  margin: 5px;
  border: 0px transparent;
  border-radius: 2px;
}

.upcoming-event-flexbox {
  display: flex;
}

.upcoming-event-bullet {
  margin-right: 8px;
}

.myEventsEvent:hover {
  background-color: #9884c2;
  cursor: pointer;
}

.myEventsEvent h2 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.myEventsEvent span {
  padding-right: 10px;
}

.colorChangeTitleSegment {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #F1F1F1;
  margin-bottom: 20px;
  padding: 15px 20px;
  color: black;
}

.platformItem {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding-left: 30px;
  display: inline-grid;
  grid-template-columns: 1fr 10fr;
  color: white;
}

.platformColorBar {
  width: 10px;
  height: 4px;
  background-color: #E60B74;
  margin-top: 4px;
  margin-right: 10px;
  border: 0px transparent;
  border-radius: 2px;
}

.main-content {
  background-color: #292929;
  color: white;
}

.main-content p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 30px 0 30px 30px;
}
