.terms-conditions-container {
  background-color: white;
  border: 4px solid #C71585;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -320px;
  padding: 50px;
  text-align: left;
}

.toc-btn {
  margin: 50px auto 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border: 2px solid #C71585;
  border-radius: 15px;
  padding: 5px;
}

.toc-selector {
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.toc-btn-activated {
  background-color: #C71585;
  padding: 5px;
  text-align: center;
  width: 180px;
}

.toc-btn-deactivated {
  background-color: grey;
  padding: 5px;
  text-align: center;
  width: 180px;
}
